.difficulty-radio-group {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}

.difficulty-radio-group input[type="radio"] {
  width: 0px;
  visibility: hidden;
}

.difficulty-radio-group label[for="easy"] {
  color: rgb(90, 245, 141);
}
.difficulty-radio-group label[for="medium"] {
  color: rgb(255, 248, 119);
}
.difficulty-radio-group label[for="hard"] {
  color: rgb(255, 96, 96);
}

.difficulty-radio-group input[type="radio"]:checked + label[for="easy"] {
  border: 1px solid rgb(90, 245, 141);
  border-radius: 7px;
}

.difficulty-radio-group input[type="radio"]:checked + label[for="medium"] {
  border: 1px solid rgb(255, 248, 119);
  border-radius: 7px;
}

.difficulty-radio-group input[type="radio"]:checked + label[for="hard"] {
  border: 1px solid rgb(255, 96, 96);
  border-radius: 7px;
}
