*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

/* this stops extra scrolling */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  text-align: center;
  color: #ffffff;
}

h1 {
  font-family: "Literata", serif;
  font-size: 5.5rem;
  padding-top: 100px;
}

p {
  width: 95%;
  padding-left: 20px;
}

a {
  color: rgb(228, 50, 127);
  text-decoration: none;
}

button {
  cursor: pointer;
  -webkit-tap-highligh-color: trasparent;
}

footer {
  flex-shrink: 0;
  font-size: 0.8rem;
  padding: 10px 0px;
}

.btn:hover {
  box-shadow: 0 0 5px #ffffff;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

select {
  width: 100%;
  text-align-last: center;
  font-size: medium;
  background: black;
  border: none;
  color: #ffffff;
  font-family: Roboto;
  user-select: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

/* loading-screen */
.loading-screen {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 100px;
  margin-top: 40vh;
}

.loading-screen.hidden {
  height: 0;
  margin-top: 0;
}

.loading-screen div {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.loading-screen div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}
.loading-screen div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.loading-screen div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

/* start-screen */
.start-screen {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  gap: 40px;
}

.start-screen.hidden {
  height: 0;
}

.configuration-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
  width: 250px;
}

.difficulty-radio-group {
  display: flex;
  align-items: center;
  user-select: none;
}

label {
  padding: 7px;
  cursor: pointer;
}

.button-wrapper {
  display: inline-block;
  margin-bottom: 200px;
}
.button-start {
  border: 1px solid white;
  border-radius: 50%;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  user-select: none;
  outline-offset: 4px;
  height: 80px;
  width: 80px;
}

/* play-screen */
.play-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92%;
  width: 90%;
}

.play-screen.hidden {
  height: 0;
}

.question-answer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
  background: transparent;
  gap: 30px;
}

.question-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 7px;
  padding: 0px 10px;
}

.question-counter {
  height: 20px;
  width: 50px;
  border-radius: 7px;
}

/* ///////////////// */
.answer-area {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  background: transparent;
  gap: 40px;
}

.button-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.answer-button {
  text-align: center;
  height: 65px;
  padding: 1rem 0.5rem;
  border-radius: 7px;
  border: 1px solid #ffffff;
  background: transparent;
  user-select: none;
  color: #ffffff;
  touch-action: manipulation;
}

.correct-answer {
  border: 1px solid #69a230;
  color: #69a230;
}

.incorrect-answer {
  border: 1px solid #87100a;
  color: #87100a;
}

.next-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-tap-highligh-color: trasparent;
  height: 10%;
  width: 100%;
  background: transparent;
}

.empty {
  height: 20px;
  width: 20px;
}

.reset-playscreen {
  background: transparent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 3px;
  transition: transform 600ms ease-in-out;
}

.next-button {
  color: #ffffff;
  height: 30px;
  width: 50px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 60px;
  margin-right: -30px;
  -webkit-tap-highligh-color: trasparent;
}

.reset-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;

  height: 20px;
  width: 20px;
  margin-bottom: 30px;
}

.reset-wrapper.end {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-top: 30px;
  margin-bottom: 100px;
  height: 80px;
  width: 80px;
}

.reset-button.end {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  font-size: 30px;
  text-align: center;
  padding: 15px;
}

.reset-button.hidden {
  height: 0;
  width: 0;
  visibility: none;
}
.reset-button {
  color: #ffffff;
  background: transparent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 3px;
  transition: transform 600ms ease-in-out;
}

.reset-button:hover,
.reset-playscreen:hover {
  transform: rotate(-360deg);
}

/* error screen */
.error-screen {
  height: 30vh;
  width: 80vw;
}

/* end screen */
.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92%;
  width: 90%;
}

.end-screen.hidden {
  height: 0;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 30px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  background: transparent;
}

.final-score {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  font-size: 3rem;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  margin-top: 30px;
}

/* /////////////////////////////////////////////////// */
/* FOR DESKTOP */
@media screen and (min-aspect-ratio: 1/1) {
  .loading-screen {
    margin-top: 50vh;
  }

  .play-screen {
    width: 80%;
    height: 100%;
    padding: 50px;
  }

  .question-area {
    padding: 100px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .end-screen {
    width: 80%;
    height: 100%;
  }

  .reset-button {
    transition: transform 600ms ease-in-out;
  }

  .reset-button:hover {
    transform: rotate(-360deg);
  }
}

/* /////////////////////////////////////////////////// */
@media only screen and (min-aspect-ratio: 16/9) {
  .loading-screen {
    margin-top: 50vh;
  }

  .button-wrapper {
    margin-bottom: 100px;
  }

  .play-screen {
    box-sizing: content-box;
    width: 60%;
    height: 70%;
    padding: 100px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .end-screen {
    width: 50%;
    height: 70%;
    box-sizing: content-box;
  }

  .result {
    margin-top: 0;
    margin-bottom: 70px;
    height: auto;
    width: 100%;
    padding: 20px;
  }

  .reset-button {
    transition: transform 600ms ease-in-out;
  }

  .reset-button:hover {
    transform: rotate(-360deg);
  }

  footer {
    margin-bottom: 20px;
  }
}
